Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
djangorestframework-simplejwt>=5.3,<6.0
requests>=2.31,<3.0
yfinance>=0.2,<0.3
pandas
gunicorn>=21.2,<22.0
python-dotenv>=1.0,<2.0
psycopg2-binary>=2.9,<3.0
ta-lib
django-cors-headers
dj-database-url
celery>=5.4,<6.0
django-celery-beat>=2.7,<3.0
redis>=5.0,<6.0
stripe>=7.0,<12.0
openai>=1.0,<2.0


